Error: send_command: set value must not be undefined or null

Hi,

I'm getting this error after passing Client ID and Secret using OAuth:

results: { serviceName: 'auth',
  apiVersion: '1.0',
  accessToken: 'asd44AScxzVXCv.....==',
  scope: 'default' }
Error: Error: send_command: set value must not be undefined or null

Any ideas please?

Thanks.


If you're using client_credentials as the OAUTH2 type, then this error appears to be caused by the requirement of a "refresh" URL returned by your authentication server upon successful authentication. However, according to RFC 6749 Section 1.5, this is not a required parameter.

I have forked IO Docs and made the changes to app.js and the supporting files here:

https://github.com/vrrobz/iodocs

I haven't submitted a pull request yet, though, because I have not yet tested ALL of the changes I made in the version I uploaded. I plan on doing that shortly. 